# Guidelines
# .name - ignore this file
# /folder/ - ignore this folder
# folder/* - ignore all files in that directory
# !folder/file.txt - ignore * directory except this one file)
/1temp/
/lib/
/app/dependency_list.php
/app/logs/
.replit
replit.nix
gitstart.sh
index.php
/app/db_creds_admin.php
/app/db_creds_basic.php
